<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>master-web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>Restrict resources folder</display-name>
		<web-resource-collection>
			<web-resource-name>resources folder</web-resource-name>
			<url-pattern>/resources/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>raw xhtml</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
</web-app>